body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(36, 36, 36);
  color: aliceblue;
  text-align: center;
}
.bal {
  text-align: left;
}
.fejlec {
  background-image: url(cicak_forras/images/hero.jpg);
  height: 100vh;
  background-size: cover;
}
.tarolo {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.cim {
  margin: 0 auto;
  width: 100%;
}
.szoveg {
  margin: 0 auto;
  width: 100%;
}
/* index.html menu*/
.menu ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 20px;
  border: 0px solid white;
  margin: 20px;
  border-radius: 15px;
  gap: 10px;
}
.menu ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.menu li {
  background-color: rgb(243, 117, 0);
  padding: 15px;
  border-radius: 25px;
}
.menu ul li a:hover {
  color: rgb(0, 0, 0);
}
.menu li:hover {
  background-color: rgb(255, 255, 255);
}

/* kresesem a cicam.html menu */
#menu2 ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  border: 0px solid white;
  margin: 20px;
  border-radius: 15px;
  gap: 75px;
}
#menu2 ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#menu2 li {
  background-color: rgb(243, 117, 0);
  padding: 15px;
  border-radius: 25px;
  
}
#menu2 ul li a:hover {
  color: rgb(0, 0, 0);
}
#menu2 li:hover {
  background-color: rgb(255, 255, 255);
}
/* index.html kozepso link */

.kozepsolink {
  margin: auto;
  width: 45%;
}
.kozepsolink ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
  border: 0px solid white;
  margin: 20px;
  border-radius: 15px;
  gap: 10px;
}
.kozepsolink ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.kozepsolink li {
  background-color: rgb(243, 117, 0);
  padding: 15px;
  border-radius: 25px;
}
.kozepsolink ul li a:hover {
  color: rgb(0, 0, 0);
}
.kozepsolink li:hover {
  background-color: rgb(255, 255, 255);
}

/* cicak.html kepek */

.kepek {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  gap: 40px;
  position: relative;
}
.kepek img {
  width: 100%;
  border-image: 1px solid black;
  border-radius: 20px;
}
.balalso {
  position: absolute;
  bottom: 6px;
  left: 75px;
  font-weight: bold;
}
.jobbalso {
  position: absolute;
  left: 455px;
  top: 310px;
  font-weight: bold;
}
